<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

	{% if page.title %}
	<title>{{ page.title }} — Steven Buehler</title>
	{% else %}
	<title>Gloriously Awkward Life</title>
	{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{{page.categories | join: ', '}}" />
	<meta charset="utf-8">

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/cedc2e74d8.js" crossorigin="anonymous"></script>

	<!--Google Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">

	<link href="/css/main.css" rel="stylesheet" />
	<link href="/css/pygments.css" rel="stylesheet" />

	<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml" />
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />


	<meta content="{{ site.title }}" property="og:site_name" />

	{% if page.title %}
	<meta content="{{ page.title | escape }}" property="og:title" />
	<meta property="twitter:title" content="{{ page.title | escape }}" />
	{% else %}
	<meta content="{{ site.title | escape }}" property="og:title" />
	<meta property="twitter:title" content="{{ site.title | escape }}" />
	{% endif %}

	{% if page.title %}
	<meta content="article" property="og:type" />
	{% else %}
	<meta content="website" property="og:type" />
	{% endif %}

	{% if page.description %}
	<meta content="{{ page.description | escape }}" property="og:description" />
	<meta property="twitter:description" content="{{ page.description | escape }}" />
	{% elsif page.content %}
	<meta content="{{ page.content | strip_html | truncate: 300 | strip_newlines_with_space | escape }}"
		property="og:description" />
	<meta property="twitter:description"
		content="{{ page.content | strip_html | truncate: 200 | strip_newlines_with_space | escape }}" />
	{% else %}
	<meta content="{{ site.description | escape }}" property="og:description" />
	<meta property="twitter:description" content="{{ site.description | escape }}" />
	{% endif %}

	{% if page.url %}
	<meta content="{{ site.url }}{{ page.url }}" property="og:url" />
	{% endif %}

	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
	<meta content="{{ site.url }}/contact.html" property="article:author" />

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="@gloriouslyawkwd" />

	<meta property="twitter:creator" content="@gloriouslyawkwd" />
	{% endif %}

	<meta name="author" content="Steven Watson Buehler" />

	{% if page.photo %}
	<meta content="{{ page.photo }}" property="og:image" />
	<meta property="twitter:image:src" content="{{ page.photo }}" />
	{% else %}
	{% if page.image %}
	<meta content="{{ site.url }}/assets/img/posts/{{ page.image }}" property="og:image" />
	<meta property="twitter:image:src" content="{{ site.url }}/assets/img/posts/{{ page.image }}" />
	{% endif %}
	{% endif %}
	{% if page.categories %}
	{% for category in page.categories limit:1 %}
	<meta content="{{ category }}" property="article:section" />
	{% endfor %}
	{% endif %}
</head>

<body>
	<div class="container-narrow">

		<div class="top_name">
			<a href="/"><img height="50px" src="/img/gloriouslyawkwardlifelogo.svg" /></a>
		</div>

		<div class="navbartop">
			<div class="pull-right nolinkcolor header">
				<ul class="nav nav-pills">
					{% for node in site.toplinks %}
					{% capture node_name %}/{{ node }}{% endcapture %}
					{% if node_name == page.url %}
					<li class="active"><a href="/{{node}}" class="active">{{node | capitalize}}</a></li>
					{% else %}
					<li><a href="/{{node}}">{{node | capitalize}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
			<ul class="nav nav-pills nolinkcolor header hidden-phone">
				<li>
					<a href="/"><i class="fa-solid fa-house"></i> Home</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>

		<div class="post-author-side hidden-phone" id="stick-avatar">
			<div class="post-author-card">
				<div class="picture">
					<a href="/"><img src="/img/avatar.jpg" class="img-circle" width="95" alt="Me" /></a>
				</div>
				<p class="muted">
					<strong>Steven Watson Buehler</strong><br />&nbsp;<br />
					Creator<br />Power BI Developer<br />Disney World Junkie<br /><strong>Follower of Christ</strong>.
				</p>
				<p class="muted">
					<a href="https://twitter.com/gloriouslyawkwd">@gloriouslyawkwd</a>
				</p>
			</div>
		</div>

		<div id="website-content">
			{{ content }}
		</div>

		<div class="social_icons">
			<!-- <div class="pull-right">
				<form
					action="http://fabienpenso.us6.list-manage.com/subscribe/post?u=26988d6b101b0274a6b9db738&amp;id=771bd90ff3"
					method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
					target="_blank" novalidate>
					<div class="input-append">
						<input type="email" value="" name="EMAIL" class="input-medium" id="mce-EMAIL"
							placeholder="email address" required />
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
					</div>
				</form>
			</div> -->
			<a href="http://github.com/gloriouslyawkwardlife" title="Github"><img src="/img/github-icon.png" width="30"
					height="30" alt="Github" /></a>
			<a href="http://twitter.com/gloriouslyawkwd" title="Twitter"><img src="/img/twitter-icon.png" width="30"
					height="30" alt="Twitter" /></a>
			<a href="http://www.facebook.com/gloriouslyawkwardlife" title="Facebook"><img src="/img/facebook-icon.png"
					width="30" height="30" alt="Facebook" /></a>
			<a href="http://www.linkedin.com/in/stevenwbuehler" title="LinkedIn"><img src="/img/linkedin-icon.png"
					width="30" height="30" alt="LinkedIn" /></a>
			<a href="/atom.xml"><img src="/img/rss-icon.png" width="30" height="30" alt="RSS" /></a>
		</div>

		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/js/jquery-footnotes.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	</div>
</body>

</html>